h1, h2,main{
    text-align: center;
}
/* #moto
{
    margin-left: 20%; 
    text-align: center;
} */
#logo
 {
    position: absolute; 
    top:0;
    left:0%;
}

.head
{
    margin-bottom: 5rem;
}
/* #logo
{
    height : auto;
    width:auto;
    max-width: 40%;
    max-height:40%;
    overflow:hidden;
} */
.main
{
    display: flex;

    /* justify-content: space-between;
    flex-direction:row; */

}
.leftbox
{
  
    /* background-color: rgb(209, 209, 204); */
    margin-right: 250px;
    height:450px;
    border-radius: 10px;
  

}


.rightbox
{
    
    
    /* background-color: rgb(208, 160, 108); */

    height:450px;
    border-radius: 10px;

}
/* .footer
{
    width:100%;
    margin-right: auto;
    margin-left: auto;
    display: block;
} */


.row
{
    margin-left: 0;
    display:flex;
    /* justify-content: space-around; */
    flex-direction: row;
    background-color: rgb(131, 190, 161);
    /* margin-right:-15px;
    margin-left:-15px;
    box-sizing: border-box; */
    width: 100%;
}
.col
{
    margin-right: 90px;
    z-index: 20;
}

#col1
{
    margin-left: 60px;
}
.last
{
   text-align: center;
}
.lastimg
{
    float: right;
    z-index:-300;
  
     */
    /* border-radius: 50%; */
    
}
